 body {
            background-color: rgb(233, 218, 192);
            font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        }

        a{
            text-decoration: none ;
        }

        .content > div {
            border: 2px solid black;
            margin: 2%;
            flex-grow: 1;
        }

        #note {
            flex-grow: 2;
            padding: 1%;
        }

        
        .clock {
            color: black;
            text-align: center;
            padding-top:  4%;
        }
        
        .maintain_div  > div{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid black; 
            flex-basis: 40%;
            margin: 2% 5%;
            padding: 1%;
        }

        .search_div{ 
            display: block !important;
        }
        #search{
            display: flex;
            flex-direction: column;
        }


        #manipulation_div > button , 
        .manipulation_form > input ,
        #id_search_form > input,
        #sales_form > input,
        #search > *,
        #box > *{
            width: 40%;
            padding: 10px;
            border-radius: 50px;
            font-size: 15px;
            margin-bottom: 3%;
            border: 2px solid orange;         
        }

        #search > *{
            margin: 1% auto;
        }

        #cont{
            width: 80%;
        }

        #box{
            width: 100%;
            border: none;
            display: flex;
            flex-direction: column;
            margin-left:  28%;
        }

        .manipulation_form{
            margin-top: 2%;
            margin-left: 5%;
        }

        .manipulation_form > input{
            width: 60%;
            margin: 1% 17%;
        }



        .id_search_div {
            flex-grow: 30%;
            border: 2px solid black;
            margin: 5%;
            padding: 2%;
        }

        .sales_div > div:nth-child(2) {
            flex-basis: 50%;
            border: 2px solid black;
            margin: 5%;
            padding: 2%;
        }


@media only screen and (min-width: 800px) {

    .info_div {
        display: flex;
        height: 10%;
    }

    .info_div div {
        flex-basis: 30%;
        margin-left: 2%;
    }



    .info_div img {
        height: 90%;
    }

    #display_name {
        text-align: center;
    }

    #log_out {
        text-align: center;
        margin: 1%;
        height: 40%;
        width: 25%;
        padding-top: 3%;
        margin: 2% 70%;
        border-radius: 50px;
        background-color: orangered;
    }

    /* nav tab */

    .nav_div {
        display: flex;
    }

    .nav_div > div {
        flex-basis: 17%;
        background-color: #00d6e7;
        margin: auto;
        border-radius: 15px;
        font-size: 12px;
    }

    .nav_div h3 {
        margin-left: 40%;
    }

    .nav_div img {
        float: left;
        margin-left: 5%;
        width: 17%;
    }


    .content, .maintain_div, .sales_div, .about_div{
        display: flex; 
        margin: 4% 5%;
        height: 70%; 
        border: 2px solid black;
    }

    .about_div{display: block !important;}
    .about_div li {
        margin-bottom: 1%;
    }

}


@media only screen and (max-width: 800px){
    .content, .maintain_div, .sales_div, .about_div{
        display: flex;
        flex-direction: column;
        margin: 4% 5%;
    }

    .nav_div {
        display: flex;
        font-size: 10px;
    }

    .nav_div img {
        float: left;
        margin-left: 1%;
        margin-right: 8%;
        width: 25%;
    }
    .nav_div > div {
        flex-grow: 1;
        background-color: #00d6e7;
        border: 1px solid black;
        font-size: 12px;

    }

    #log_out {
        text-align: center;
        width: 20%;
        padding: 2%;
        margin: 2% 70%;
        border-radius: 50px;
        background-color: orangered;
    }

    #display_name {
        text-align: center;
    }
}